<!DOCTYPE html>
<html lang="en">
<head>
     {% extends 'store/base.html' %}

    {% block title %}
    <title>E-books</title>
    {% endblock %}

</head>
<body>
    {% include 'store/_navbar.html' %}
    {% block content %}
    <div class="content">
    <h1>E-books</h1>
    <p>Explore our collection of e-books.</p>

    {% if ebooks %}
    <ul class="item-list">
        {% for ebook in ebooks %}
        <li class="item">
            <a href="{% url 'ebook_detail' ebook.id %}">
                <img src="{{ ebook.cover_art.url }}" alt="{{ ebook.title }} Cover Art" class="item-cover">
                <div class="item-info">
                    <h4>{{ ebook.title }}</h4>
                    <p>by {{ ebook.author }}</p>
                    <p>€{{ ebook.price }}</p>
                    <a href="{% url 'add_to_favorites' 'ebook' ebook.id %}">Add to Favorites</a>
                </div>
            </a>

            <!-- Add to Cart Button (only for logged-in users) -->
            {% if user.is_authenticated %}
            <div class="add-to-cart">
                <form method="POST" action="{% url 'add_to_cart' 'ebook' ebook.id %}">
                    {% csrf_token %}
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No e-books available at the moment.</p>
    {% endif %}

    </div>
    {% endblock %}

</body>
</html>
