<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'store/base.html' %}

    {% load static %}

    {% block title %}
    <title>School and Office</title>
    {% endblock %}

</head>
<body>

    {% include 'store/_navbar.html' %}
    {% block content %}
    <div class="content">
    <h1>School and Office</h1>
    <p>Browse through school and office supplies.</p>

        <div class="ad-widget">
            <a href="https://www.booking.com" target="_blank">
                <img src="{% static 'img/booking_ad.png' %}" alt="Booking.com Ad">
            </a>
        </div>



     </div>
    {% endblock %}

</body>
</html>
